<h2 id="venue">Venue</h2>
<h5 id="trinity-hotel--conference-center">Trinity Hotel &amp; Conference Center</h5>
<p><b>Website:</b> <a href="http://www.trinity.dk">http://www.trinity.dk</a></p>
<p>The venue is a four-star award winning hotel and conference center in Fredericia in Southern Denmark, accomodating more than 150 attendents. The standards of accommodation and food (including special diets) are good, the levels of technical facilities and support are very good and yet the price level is fair for the country. The hotel is called Trinity because it was originally founded with a Christian worldview, and the staff is dedicated, helpful and kind.</p>

<p><img src="img/TRINITY_view1.jpg" alt="Trinity air view" width="900"></p>

<p>Trinity is located near the old bridge between Funen and Jutland, with a view to the water, Lillebælt (= Small Strait) where it is possible to take walks in the forest and a morning swim, and there are also options to go to a larger nature area nearby where it is possible to see white deer.  </p>
<p>There is also an amphitheater room for keynotes and several conference rooms that are organized in the center of the hotel in two floors (with elevator).</p>

<p><strong>Green key sustainable hotel: </strong>Trinity is awarded with a Green Key, which is the international ecolabel for tourism. It means that the hotel has an environmental leadership, reduced use of energy and water, waste sorting, supports ecological products, uses environmentally friendly washing and cleaning products, avoids chemical herbicides, and much more.  </p>

<p><img src="img/TRINITY_view2.jpg" alt="Trinity entrance view" width="300" height="150"><img src="img/TRINITY_view3.jpg" alt="Trinity view" width="300" height="150"><img src="img/TRINITY_view4.jpg" alt="Trinity indoors view" width="300" height="150"></p>
<p>You can see more pictures from the venue <a href="https://trinity.dk/om-trinity/galleri-logo/">here</a>.</p>


<h5 id="food">Food</h5>
<p>All meals are included in the conference fee, and there will be options for special food requests via an app which will be provided one week before the start of the conference.  </p>
<p>There is a restaurant, so it is possible to order meals at the spot for participants arriving early to the venue (Tuesday evening).  </p>
<h5 id="rooms">Rooms</h5>
<p>There are double room and single rooms available at the conference center (see Registration).</p>
<h5 id="location">Location</h5>
<br>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1415.2624942267876!2d9.7093336!3d55.5257812!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464c9716f481b5d5%3A0xad78ef2b0dfbc31d!2sTrinity+Hotel+%26+Konference+Center!5e1!3m2!1sen!2sdk!4v1560701537717!5m2!1sen!2sdk" width="900" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
<br>
<br>
<br>
<p><strong>Address:</strong> {{ .address }}, {{ .postalcode }} {{ .city }}, {{ .state }}</p>
<p><strong>Distance from Fredericia train station:</strong> 6 km.<br><strong>Distance from Billund Airport:</strong> 56 km (1,5 hours by bus/train).<br><strong>Distance from Copenhagen central station:</strong> 1,45 hours by train.<br><strong>Distance from Kastrup Airport (Copenhagen):</strong> 216 km (2 hours by train).  </p>

<h5 id="about-denmark">About Denmark</h5>
<p>Denmark is a small country with 5.5. million inhabitants, a EU member but we have our own currency (Danish Kroner). The weather in September varies from nice and sunny to chilly, rainy and windy. You are advised to bring good walking shoes for the forest paths.</p>
<h2 id="transportation">Transportation</h2>
<h5 id="if-you-travel-by-plane">Transportation from the Airport</h5>
<p><strong>From Billund Airport to Fredericia:</strong>  </p>
<p>either take a Taxi from Billund airport to Fredericia, call: +4548484848  </p>
<p>or take bus no 43 to Vejle Station (30 min), then train from Vejle Station to Fredericia Station (15 minutes)</p>
<p><strong>From Copenhagen (Kastrup) Airport to Fredericia:</strong> 
Train (track 2) to Copenhagen central station (København H) and change to fast train to Fredericia station 1,45 hour (IC Lyntog).</p>
<h5 id="by-train-and-bus-to-fredericia">Traveling by Train and Bus</h5>
<p>Plan your trip with <a href="http://www.rejseplanen.dk">www.rejseplanen.dk</a> and by tickets on <a href="https://www.dsb.dk/en/">https://www.dsb.dk/en/</a>
Cheap train tickets are called “orange tickets” and can only be preordered (you show them on your phone in the train)
Otherwise buy tickets in the red automat on the station.</p>
<h5 id="from-fredericia-station-to-the-venue">From Fredericia Station to the Venue</h5>
<p><strong>&gt; Go cheap:</strong> Bus no 3 to Snoghøj (25 min.)<br><strong>&gt; Go fast:</strong> Taxi from the station (5-10 min.)
Fredericia taxi service: +45 75 50 34 11 <a href="mailto:&#66;&#101;&#x73;&#x74;&#105;&#x6c;&#64;&#116;&#x61;&#x78;&#97;&#x73;&#121;&#x64;&#46;&#x64;&#x6b;">&#66;&#101;&#x73;&#x74;&#105;&#x6c;&#64;&#116;&#x61;&#x78;&#97;&#x73;&#121;&#x64;&#46;&#x64;&#x6b;</a></p>
<h5 id="by-car">By Car</h5>
<p>From Zealand: Highway E20 to Fredericia, take off at 60 Fredericia V.
From Jutland: Highway E45 to Fredericia, take off at 60 Fredericia V.
Free parking at the hotel.</p>
