<h3 class="section-title">{{ .titles.cultural }}</h3>

<h5>Concert with The Danish Saxophone Quartet</h5>

</p><br>
<img src="img/saxquartet.jpg" alt="The Danish Saxophone Quartet" style="float:right;margin:15px 5px 0 0;" width="360" />
<p>
The quartet will perform a special program of classical music pieces designed as a meditative concert for the GIM audience on the conference. 
The quartet was formed in 1986 and for many years now, the quartet has been specializing in the performance of contemporary music. The members of quartet have always been aficionados of Johann Sebastian Bach. Over the last many years, they have been playing extracts from The Goldberg Variations and The Art of the Fugue in their concerts. The quartet unfurls a number of the more than one hundred and fifty different pieces of music which have been composed explicitly for the quartet. These pieces display colors illuminating a myriad of nuances of saxophone timbres and modes of performance, with styles that range from intimate minimalism to super-complex structural music. In addition to this energetic and creative engagement, the quartet has persistently been combining pieces of rhythmic music such as Piazolla´s tango music with more strictly classical works in their concerts played all over the world.
The quartet has toured in the USA, England, Scotland, Germany, France, Italy, the Czech Republic, Poland, Russia, Estonia, Lithuania, Latvia, Greece, Switzerland, Norway and Iceland.
Musicians: Oriol Pares - soprano saxophone, Christian Hougaard - alto saxophone, Lauritz Hædersdal Eller - tenor saxophone and Per Egholm - baritone saxophone.

</p>

<h5>Double ceremony at the historic castle Koldinghus</h5>
<img src="img/koldinghus-udefra_22983.jpg" alt="Koldinghus" style="float:right;margin:15px 5px 0 0;" width="560" />
<p>
As we use to do on the EAMI conferences, this year we look forward to celebrate and welcome the new GIM therapists in our community. 

As 2020 is a special year, because this year is the first time for the hatching of the EAMI-registered GIM therapists, we will also celebrate  this event, even though some of us are a bit experienced! 
(so remember to apply for your certificate before the conference if you are a member of the EAMI!)

The double ceremony will be held at Koldinghus, which is one of the oldest castles in Denmark, founded in the 1200 century, a place where generations of kings have lived and where important historic events have taken place. The place burned down in 1808 and has been restored; still some of the very old parts remain. It is now open for the public as a museum and place for special events. 
</p>

