<h3> Conference organization</h3>
<h5 id="the-eami-board-and-the-danish-organization-group">The EAMI Board and the Danish organization group</h5>
<p>Charlotte Dammeyer, Julie Exner, Inge Nygaard Pedersen, Catharina Messel and Bolette D. Beck.  </p>
<h5 id="scientific-committee">Scientific committee</h5>
<p>Head of scientific committee: Leslie Bunt (GB)<br>
Members: Lars Ole Bonde (DK), Gro Trondalen (NO), Christa Steingruber (CH), Barbara Zanchi (IT), Svein Fuglestad (NO)   </p>
<h5 id="pr-support">PR support</h5>
<p>Jurgita Zalgiryte  </p>
<h5 id="organiser--contact-person">Organizer</h5>
<p>Bolette D. Beck</p>
<h5>Contact</h5>
<p>Bolette D. Beck<br>
<a href="mailto:&#98;&#111;&#x6c;&#x65;&#116;&#x74;&#101;&#x2e;&#100;&#46;&#x62;&#101;&#x63;&#107;&#64;&#x67;&#109;&#97;&#105;&#108;&#x2e;&#x63;&#111;&#x6d;">&#98;&#111;&#x6c;&#x65;&#116;&#x74;&#101;&#x2e;&#100;&#46;&#x62;&#101;&#x63;&#107;&#64;&#x67;&#109;&#97;&#105;&#108;&#x2e;&#x63;&#111;&#x6d;</a> or <a href="mailto:&#x62;&#111;&#x6c;&#x65;&#x74;&#x74;&#x65;&#64;&#105;&#x6b;&#x70;&#x2e;&#97;&#97;&#x75;&#46;&#100;&#x6b;">&#x62;&#111;&#x6c;&#x65;&#x74;&#x74;&#x65;&#64;&#105;&#x6b;&#x70;&#x2e;&#97;&#97;&#x75;&#46;&#100;&#x6b;</a><br>
Mobile phone +4527283692  </p>
<h4>Acknowledgements</h4>
<p>We thank our partners, sponsors and others who enabled our common endeavor. Thank you in particular to Aalborg University – Department for Communication and Psychology for support.
<br>

<ul class="partners-list">
{{ range $partner := .partners }}
  <li class="partner-item" itemscope itemtype="http://schema.org/Organization">
    <a href="{{ .url }}" class="partner-logo partner-link" itemprop="url" target="_blank">
      <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image">
    </a>
  </li>
{{ end }}
</ul>





