<h3 class="section-title">{{ .titles.registration }}</h3>

<h4>Deadline</h4>

<p> 
Early Bird registration is open until April 30th, 2022. <br>

<!--Please register at Nemtilmeld (link)
-->

<br>
</p>
<h4>Online and On-Site Participation</h4>
<p>The conference is held as a hybrid conference: on-site at Trinity Hotel, Fredericia, combined with online participation.  </p>
<p><strong>Online Participation includes:</strong><br>
<strong>&gt;</strong> A link for streaming to attend to four keynotes, selected papers, opening ceremony and 2 music concerts.<br>
<strong>&gt;</strong> All papers and keynotes will be available for streaming one month after the conference.<br>
<strong>&gt;</strong> Workshop participation (only online workshops)  </p>
<p><strong>On-Site Participation includes:</strong><br>
<strong>&gt;</strong> Conference attendance<br>
<strong>&gt;</strong> Conference material (paper, name tag etc)<br>
<strong>&gt;</strong> All meals, dinner with 3 courses Saturday evening, coffee/tea breaks<br>
<strong>&gt;</strong> Ceremony for new fellows<br>
<strong>&gt;</strong> Music performances  </p>
<br>
<br>
<h4>Fee Structure</h4>
<p>For the fee structure of EAMI GIM 2022 conference, the local organisation committee finds it important that fees are affordable for all attendees, and that GIM therapists and -students from low-income countries are encouraged to participate, especially in today’s harsh economic conditions in Europe. To achieve this, all members of the local organising team are working in an honorary capacity, and being a non-profit organisation, we simply try to cover the costs in hosting this conference. 10 tickets are available at reduced price for students and participants from low-income countries, by the principle of firstcomers.<br>
You will find all fees listed in the registration process. Below is an overview for your convenience.  </p>
<h5>Early Bird Rates</h5>
<p><strong>Requires registration & payment until April 30th, 2022!</strong><br>
ONLINE PARTICIPATION (Wednesday - Sunday): 160 EUR / 1200 DKK<br>
FULL CONFERENCE (Pre-conference + main conference, Wednesday 9:00 - Sunday 14:00): 750 EUR / 5585 DKK<br>
PRE-CONFERENCE ONLY (Wednesday 9:00-18:00 with small breakfast, lunch and coffee/tea + workshop): 160 EUR / 1200 DKK <br>
MAIN CONFERENCE ONLY (Wednesday 18:00 with dinner - Sunday 14:00): 630 EUR / 4690 DKK<br>
</p>
<h5>Regular Rates</h5>
<p>Registration & payment after April 30th, 2022:<br>
ONLINE PARTICIPATION (Wednesday - Sunday): ? EUR / ? DKK<br>
FULL CONFERENCE (Pre-conference + main conference, Wednesday 9:00 - Sunday 14:00): ? EUR / ? DKK<br>
PRE-CONFERENCE ONLY (Wednesday 9:00-18:00 with small breakfast, lunch and coffee/tea + workshop): ? EUR / ? DKK <br>
MAIN CONFERENCE ONLY (Wednesday 18:00 with dinner - Sunday 14:00): ? EUR / ? DKK<br>
=======
=======
ONLINE PARTICIPATION (Wednesday - Sunday): 160 EUR / 1200 DKK<br>
FULL CONFERENCE (Pre-conference + main conference, Wednesday 9:00 - Sunday 14:00): 775 EUR / 5768 DKK<br>
PRE-CONFERENCE ONLY (Wednesday 9:00-18:00 with small breakfast, lunch and coffee/tea + workshop): 175 EUR / 1300 DKK <br>
MAIN CONFERENCE ONLY (Wednesday 18:00 with dinner - Sunday 14:00): 645 EUR / 4800 DKK<br>
=======
</p>
<h5>Reduced Rates</h5>
<p>For participants from countries with a GDP per capita below 20,000 EUR, and for students, we offer a Special Main Conference Fee (10 tickets available): 530 EUR / 3950 DKK. Contact Bolette D. Beck at <a href="mailto:&#x62;&#111;&#x6c;&#x65;&#x74;&#x74;&#x65;&#64;&#105;&#x6b;&#x70;&#x2e;&#97;&#97;&#x75;&#46;&#100;&#x6b;">&#x62;&#111;&#x6c;&#x65;&#x74;&#x74;&#x65;&#64;&#105;&#x6b;&#x70;&#x2e;&#97;&#97;&#x75;&#46;&#100;&#x6b;</a> to receive a link to register with the special rate.<br>
</p>
<br>
<h4>Accomodation</h4>
<h5>Trinity Hotel & Conference Center</h5>
<p><strong>Note:</strong> If you wish accomodation at Trinity, do not book directly with the hotel. Rooms at Trinity are booked together with your registration and at conference rates.<br>
<strong>&gt;</strong> Single room: 87 EUR / 645 DKK per night <br>
<strong>&gt;</strong> Double room: 107 EUR / 795 DKK per night for 2 persons, or 53,50 EUR / 397,50 DKK for one person per night.<br>
</p>
<br>
<h5>Hotel Medio</h5>
<p>Website: <a href="https://www.hotelmedio.dk/">https://www.hotelmedio.dk/</a><br>
Hotel Medio is located nearby across the road, and is a cheap alternative to Trinity Hotel. Payment is made at arrival.<br>
<strong>&gt;</strong> 4-6 persons per room, 30-40 EUR / 220-300 DKK  per person per night, without breakfast </p>
<br>
<h4>Payment and Registration</h4>
<p>
Registration and payment is processed through NemTilmeld (EasyRegistration). <br>
If you book a double room, please specify desired room-mate in the comment field.<br>
</p>
<p><strong>&gt;&gt; For Danish participants paying in DKK:</strong> <a href="https://gim2022dansk.nemtilmeld.dk/" target="_blank">https://gim2022dansk.nemtilmeld.dk/</a><br>
<strong>&gt;&gt; For all other participants:</strong> <a href="https://gim2022.nemtilmeld.dk/" target="_blank">https://gim2022.nemtilmeld.dk/</a>
</p>
